html, body{
  background: #111;
}

.container {
  width: 100%;
  text-align: center;
}

.synth {
  padding: 10px;
  border:5px solid;
  border-color: #6495ed;
  border-radius:2px;
  background-color:#6495ed;
  display: inline-block;
}

.column {
  display: inline-block;
  border:2px solid;
  border-radius:5px;
  border-color: #6495ed;
}

.square {
  padding:10px;
  margin:20px 10px;
  background-color:#AAAAAA;
  border:2px solid;
  border-radius:5px;
  box-shadow: inset 1px 1px 1px #000, 1px 1px 3px #FFF;
}

.on {
  box-shadow: 1px 1px 1px #000, 1px 1px 3px #FFF;
  border-color: #FFFF99;
}

.cursor {
  border-color: #FFFF99;
}

